

<div class="basic">

<!--<tabset>
    <tab heading="Les meilleurs lieux">
        <app-best-lieux> </app-best-lieux>
    </tab>
    <tab heading="poisson favoris">
        <app-poisson-favoris> </app-poisson-favoris>
    </tab>
    <tab heading="les Lieu autour de moi">
        <app-lieux-autour> </app-lieux-autour>
    </tab>
</tabset> -->
 <bsu-toggle-panel title="Les meilleurs lieux">
        <app-best-lieux> </app-best-lieux>
    </bsu-toggle-panel>
    <bsu-toggle-panel title="poisson favoris">
        <app-poisson-favoris> </app-poisson-favoris>
    </bsu-toggle-panel>

   <bsu-toggle-panel title="Lieux autour de moi">
        <app-lieux-autour> </app-lieux-autour>
    </bsu-toggle-panel>

</div>